{% extends 'mfl/base.html' %}
{% block content %}
    <div class="about-section">
      <h1 style="color:white">About Us Page</h1>
      <p style="color:white">Some text about who we are and what we do.</p>
    </div>

    <h2 style="text-align:center; color:white">Our Team</h2>
    <div class="column">
        <div class="card">
            <img src="" alt="Bhargav" style="width:100%">
            <div class="container">
                <h2>Bhargav Bammidi</h2>
                <p class="title">Student</p>
                <p>Some text that describes me.</p>
                <p>bk@unomaha.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <img src="" alt="Dorcas" style="width:100%">
            <div class="container">
                <h2>Dorcas Hodonou</h2>
                <p class="title">Student in MIS</p>
                <p>Some text that describes me.</p>
                <p>dhodonou@unomaha.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="" alt="Nick" style="width:100%">
            <div class="container">
                <h2>Nick Wailes</h2>
                <p class="title">Student in MIS</p>
                <p>Some text that describes me.</p>
                <p>nick@unomaha.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="" alt="Valeriu" style="width:100%">
            <div class="container">
                <h2>Valeriu Mirzac</h2>
                <p class="title">Student in MIS</p>
                <p>Some text that describes me.</p>
                <p>val@unomaha.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
{% endblock content %}